body {
    font-family: Arial, sans-serif;
    background-color: #0d0de2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: rgb(249, 247, 252);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
}

h2 { color: #333; text-align: center; }

.form-group { margin-bottom: 15px; }

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Muhiim si uu u cabirmo */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover { background-color: #218838; }

.message { margin-top: 10px; font-size: 14px; }
.result-box {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

ul { margin-top: 20px; padding-left: 20px; color: #555; }